venv
.venv
staticfiles
./db.sqlite3
.idea
*~
*.sqlite3
_static_root
_bots*s
__temp*
__pycache__/
*.py[cod]
.DS_Store
secrets.env
botex.env
botex.db
*.pdf
.vscode
.Rproj.user
*.Rproj
*.Rhistory
build
*.egg-info
tests/botex.db
tests/botex_full_hist.db
tests/otree/db.sqlite3
tests/questions_and_answers*.csv
tests/botex_participants.csv
tests/botex_response.csv
tests/otree_data.csv
tests/otree_data_full_history.csv
tests/test_session.csv
tests/test_participant.csv
tests/test_group.csv
tests/test_player.csv
.coverage
*.log
llama.cpp
models
dist
pground*.py
playground.py
README_files
README.html
