
<div class="card bg-light m-3">
    <div class="card-body">

    <h3>
        Instructions
    </h3>
    <p>
        You have been randomly and anonymously paired with another participant.
        One of you will be selected at random to be participant A;
        the other will be participant B.
        You will learn whether you are participant A or B prior to making any
        decision.
    </p>
    <p>
        {{ if C.NUM_ROUNDS == 1 }}
            This game will be played for only 1 round. 
            First, participant A receives {{ C.ENDOWMENT }};
        {{ else }} 
            This game will be played over {{ C.NUM_ROUNDS }} rounds.
            Throughout the game, you will remain in the same role.
            Each round, participant A receives {{ C.ENDOWMENT }};
        {{ endif }}
        participant B receives nothing.
        Participant A can send none, some or all of
        his {{ C.ENDOWMENT }} to participant B.
        Before B receives this amount, it will be multiplied
        by {{ C.MULTIPLIER }}. Participant B can then decide to send none, 
        some or all of the multiplied amount back to A.
    </p>
    <p>
        {{ if C.NUM_ROUNDS == 1 }}
            The objective of the game is to maximize your own amount. 
        {{ else }}
            The amounts that both players receive in each round increase their
            private wealth. The objective of the game is to maximize your 
            private wealth over the duration of the game. 
        {{ endif }}
    </p>
</div>
</div>