{{ block title }}Your Choice{{ endblock }}
{{ block content }}
    {{ if group.round_number == 1 }}
        <p>
            You have been assigned the role of Participant A.
            {{ if C.NUM_ROUNDS > 1 }}
                This will be your role for the entire game. 
            {{ endif }}
            Participant B will be played by another
            participant.
        </p>
    {{ else }}
    <p>
        You are in round {{ group.round_number }} of {{ C.NUM_ROUNDS }} rounds.
    </p>
    {{ endif }}    
    <p>
        {{ if C.NUM_ROUNDS > 1 }}
            Like in every round, you 
        {{ else }} 
            You 
        {{ endif }}
        have received an endowment of {{C.ENDOWMENT}}. 
        How much will you send to participant B?
    </p>

    {{ formfields }}
    <p>
    {{ next_button }}
    </p>

{{ endblock }}
